.nav {
    display: flex;
    padding-left: 0;
    .navbar-dark .navbar-brand {
        color: #f54555;
    }
    
    .nav-link {
        color: #ffffff;
        transition: color 200ms;
        font-size: 1.7em;
        padding: 0 12px;
    
        &:hover {
            color: #f54555;
            text-decoration: none;
        }
    }
    
    li {
        list-style: none;
    }
    
}