$purple: rgb(211, 144, 253);
$purple2: rgb(196, 64, 196);
$purple3: #F1D1FC;

html {
    height: 100%;   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: -webkit-linear-gradient(#B993D6, #8CA6DB);
    background: linear-gradient(#B993D6, #8CA6DB);
    opacity: 0.85;
    filter: alpha(opacity=85);
    width: 30%;
    border: none;
    border-radius: 10px;
}

.form {    
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    border: none;
    border-radius: 10px;
}

.header {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: rgb(36, 34, 34);
    letter-spacing: 2px;
    word-spacing: 4px;
}

.formGroup, .labelAndField {
    display: block;
}

.formGroup {
    width: 70%;
    text-align: center;
    margin: auto;
}

.button {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(36, 34, 34);
    border: 1px solid transparent;
    border-radius: 20px;
    outline: 0;
    margin-top: 13%;
    margin-bottom: 7%;
    font-weight: 700;
    cursor: pointer;
    font-family : inherit;
    font-size: 1em;
    letter-spacing: 2px;
    word-spacing: 4px;
    box-shadow: 0 0 40px 40px $purple inset, 0 0 0 0 $purple;
    transition: all 350ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 $purple inset, 0 0 10px 7px $purple;
      border-color: $purple;
    }
}

.buttonWrapper {
    text-align: center;
}

.field {
    width: 100%;
    border: 0px solid transparent;
	border-radius: 0;
	border-bottom: 2.5px solid white;
    outline: none;
    transition: all .8s ;
    background: transparent;
    font-family : inherit;
    font-size: 1em;
    color: rgb(36, 34, 34);
    margin-top: 30px;
    
    &::placeholder {
        color: white;
        font-family : inherit;
        font-size: .9em;
    }

    &:focus {
        border-bottom-color: rgb(196, 64, 196);
    } 
}

.errorMessage {
    text-align: start;
    display: block;
    color: red;
    font-size: 12px;
    height: 0;
}